head {
    height: 300px;
}

h1 {
    text-align: center;
    padding-top: 40px;
    background-color: lightblue;
    height: 100px;
}

.container {
    height: 100%;
    /*height: fit-content;*/
    width: 300px;
    background-color: bisque;
}

.weather-box {
    display: flex;
    flex-wrap: wrap;
    
    flex-direction: column;
    margin: 20px;
}